// app global css in SCSS form


//url from google fonts
<<<<<<< HEAD
=======

>>>>>>> e9ae8c9f063889c2eaf1ece47b1bb9fe0549abc0
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
}

#app {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 42px;
    line-height: 42px;
}

h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
}
